.control-box {
    background-image: linear-gradient(to left, var(--clr1), rgba(126, 17, 17, 0.411));
    display: grid;
    grid-template-columns: repeat(auto-fill, 2.5rem);
    grid-template-rows: repeat(auto-fill, 2.5rem);
    gap: 9.5px;
    padding: 1rem;
}

.txt-input {
    grid-column: 1 / 6;
    grid-row: 2;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.move-line {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../../img/icons/up-and-down-opposite-double-arrows-side-by-side.png);
}

.add-line {
    grid-column: 3;
    grid-row: 3;
    background-image: url(../../img/icons/add.png);
}

.delete-line {
    grid-column: 5;
    grid-row: 3;
    background-image: url(../../img/icons/trash.png);
}

.font-increase {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../../img/icons/increase\ font\ -\ icon.png);
}

.font-decrease {
    grid-column: 2;
    grid-row: 5;
    background-image: url(../../img/icons/decrease\ font\ -\ icon.png);
}

.txt-align-left {
    grid-column: 3;
    grid-row: 5;
    background-image: url(../../img/icons/align-to-left.png);
}

.txt-align-center {
    grid-column: 4;
    grid-row: 5;
    background-image: url(../../img/icons/center-text-alignment.png);
}

.txt-align-right {
    grid-column: 5;
    grid-row: 5;
    background-image: url(../../img/icons/align-to-right.png);
}

#font-fam {
    grid-column: 1 / 4;
    grid-row: 6;
    border-radius: .6rem;
    transition: background-color .3s;
}

#font-fam:hover {
    background-color: rgb(236, 207, 207);
}

.txt-stroke {
    grid-column: 4;
    grid-row: 6;
    background-image: url(../../img/icons/text\ stroke.png);
}

.txt-color {
    grid-column: 5;
    grid-row: 6;
    background-image: url(../../img/icons/paint-board-and-brush.png);
}

input[type="color"] {
    opacity: 0;
    display: block;
    width: 32px;
    height: 32px;
    border: none;
}

.sticker-container {
    grid-column: 1 / 6;
    grid-row: 7 / 9;
    background-color: white;
    gap: 1rem;
}

.stickers {
    gap: .5rem;
}

.links-container {
    grid-column: 1/4;
    grid-row: 9;
    background-color: var(--clr2);
    border: 1px solid black;
    border-radius: .5rem;
    transition: all .3s;
    height: 2rem;
    justify-content: center;
}

.links-container a {
    text-decoration: none;
    color: black;
    background-color: var(--clr2);
    border-radius: .5rem;
    transition: all .3s;
}

.btn-2 {
    background-color: var(--clr2);
    color: black;
    border: 1px solid black;
    border-radius: .5rem;
    grid-column: 4/6;
    grid-row: 9;
    cursor: pointer;
    transition: all .3s;
    height: 2rem;
}

.btn-2:hover {
    background-color: #964519;
    color: white;
}

.btn:hover {
    background-color: rgb(236, 207, 207);
    border: 3px solid rgb(236, 207, 207);
}

.sticker-pagination {
    font-size: 40px;
    cursor: pointer;
}