.meme-editor {
    justify-content: space-around;
    height: 60vh;
    width: 100vw;
    padding: 1.875rem;
    background-color: antiquewhite;
}

.canvas-container {
    align-self: center;
    direction: ltr;
}