@media (max-width: 860px) {
    .meme-editor {
        flex-direction: column;
    }
    .control-box {
        height: 487px;
        width: 280px;
    }
    .meme-editor {
        height: unset !important;
        width: unset !important;
        align-items: center;
    }
    .search-container {
        flex-direction: column;
        height: unset !important;
    }
    .keywords {
        gap: 2px !important;
    }
    .img-item {
        max-width: 45vw;
    }
    .control-box {
        width: 100%;
        grid-template-columns: unset !important;
        grid-template-rows: unset !important;
    }
}

@media (max-width: 860px) {
    .img-item {
        max-width: unset;
    }
}